/*
-----Css encargado de el manejo del index.php---------
------------------------------------------------------
*/
body{
	padding: 0;
	margin: 0;
	background-color: #000000;
}
/*
	para las etiquetas h3,h4,h5,th y tr
	se modifica el color de la letra su 
	tamaño y su font-weight.
*/
h3{
	color: #CBCBCB;
}
h4{
	color: #fff;
	font-size: 30px;
	font-weight: 300;
}
h5{	
	color: #CBCBCB;
	font-weight: 600;
}
th{
	color: #fff;
	font-weight: 200;
}
tr{
	color: #CBCBCB;
	font-size: 17px;
}

footer{	
	margin-top: 10px;
	margin-bottom: 0;
	padding-bottom: 0;
	display: block;
	font-size: 15px;
}
/*coloca el color al view*/
.view{
	background-color: #151515;	
}
/*le da el diseño a los links del footer*/
.afoot{
	color: #666666;
	text-decoration: none;
}
/*le da el diseño a los links del footer en el vento hover*/
.afoot:hover{
	color: #666666;
	text-decoration: underline;
}
/*coloca el diseño del boton de iniciar sesion*/
.netf{
	color: #fff;
    background-color: #E50914;
    line-height: normal;
    margin: 10px 0;
    font-weight: 200;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
}
/*define la posicion del logo*/
.logo{
	margin-top: 1%;
	margin-left: 1%;
	position: absolute;
	z-index: 1;
}
/*cambio el color y borde donde se presentas los dispositivos*/
.thumbnail{
	background-color: #151515;	
	border:none;
}
/*media query para poder controlar el comportamiento del boton de iniciar sesion,
del menu de la pagina(boton mes gratis) y el comportamiento del logo*/
@media screen and (min-width: 480px){
	.logo{
		margin-top: 2%;
		margin-left: 2%;
	}
}
@media screen and (min-width: 767px){
		.netf{
			position: absolute;
			z-index: 1;
		}
		.menutop{
			margin-top: 20%;
			position: absolute;
			z-index: 1;
		}
		.logo{
			margin-top: 1%;
			margin-left: 1%;
		}
}