body{
	padding: 0;
	margin: 0;
	background-color: #000000;
}
h3{
	color: #CBCBCB;
}
h4{
	color: #fff;
	font-size: 30px;
	font-weight: 300;
}
h5{	
	color: #CBCBCB;
	font-weight: 600;
}
th{
	color: #fff;
	font-weight: 200;
}
tr{
	color: #CBCBCB;
	font-size: 17px;
}
footer{	
	margin-top: 10px;
	margin-bottom: 0;
	padding-bottom: 0;
	display: block;
	font-size: 15px;
}
.view{
	background-color: #151515;	
}
.afoot{
	color: #666666;
	text-decoration: none;
}
.afoot:hover{
	color: #666666;
	text-decoration: underline;
}
.netf{
	color: #fff;
    background-color: #E50914;
    line-height: normal;
    margin: 10px 0;
    font-weight: 200;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
}
.logo{
	margin-top: 1%;
	margin-left: 1%;
	position: absolute;
	z-index: 1;
}
.thumbnail{
	background-color: #151515;	
	border:none;
}
@media screen and (min-width: 480px){
	.logo{
		margin-top: 2%;
		margin-left: 2%;
	}
}
@media screen and (min-width: 767px){
		.netf{
			position: absolute;
			z-index: 1;
		}
		.menutop{
			margin-top: 20%;
			position: absolute;
			z-index: 1;
		}
		.logo{
			margin-top: 1%;
			margin-left: 1%;
		}
}
@media screen and (min-width: 950px){
	
}