body{
	padding: 0;
	margin: 0;
	background-color: #000000;
}
header{
	background-color: #F2F2F2;
	height: 80px;
	margin:0 ;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100% !important;
}
section{
	background-color: #E5E5E5;
}
footer{
	margin-top: 10px;
	margin-bottom: 0;
	padding-bottom: 0;
	display: block;
	font-size: 15px;
}
.logo{
	 margin: 10px 0;
}
.netf{
	color: #fff;
    background-color: #E50914;
    line-height: normal;
    margin: 20px 0;
    font-weight: 200;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
}
.afoot{
	color: #666666;
	text-decoration: none;
}
.afoot:hover{
	color: #666666;
	text-decoration: underline;
}